<div ng-controller="BlueprintCtrl as ctrl">
	<dl class="mecha-blueprint">
		<dt>Body</dt>
		<dd class="body">
			<dl>
				<dt>Name</dt>
				<dd>{{ ctrl.blueprint.body.name}}</dd>
			</dl>
			<dl>
				<dt>Sockets</dt>
				<dd class="socket-groups">
					<dl class="socket-group" ng-repeat="socketGroup in ctrl.blueprint.body.socketGroups">
						<dt>{{ socketGroup.name }}</dt>
						<dd>{{ socketGroup.sockets_count }}</dd>
					<dl>
				</dd>
			</dl>
		</dd>
		<dt>Parts</dt>
		<dd>
			<dl class="parts" ng-repeat="partsGroup in ctrl.blueprint.parts">
				<dt>{{ partsGroup.name }}</dt>
				<dd class="part" ng-repeat="part in partsGroup">
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>SKU</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ part.name }}</td>
								<td>{{ part.blueprint.sku }}</td>
							</tr>
						</tbody>
					</table>
				</dd>
			<dl>
		</dd>
	</dl>
</div>
